<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Browse buddy</title>
    <script src="/static/js/ws.js"></script>
    <link rel="stylesheet" href="/static/styles/custom.css">
  </head>

  <body>
      Browse buddy
      <button onclick="createSession()">Start Session</button>
      <section></section>
      <div class="divider"></div>
      <section></section>
  </body>
</html>
