<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Browse buddy</title>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/ws.js"></script>
    <link rel="stylesheet" href="/static/styles/custom.css" />
    <script>
      async function showSessions() {
        const sessions = await apiListSessions();
        const container = document.querySelector("#sessions");
        container.innerHTML = "";
        sessions.forEach((element) => {
          const btn = document.createElement("button");
          btn.onclick = () => joinSession(element);
          btn.textContent = element.id;
          container.appendChild(btn);
        });
      }
    </script>
  </head>

  <body>
    <div class="">
      Browse buddy
      <button onclick="createSession()">Start Session</button>
      <button onclick="showSessions()">Fetch Sessions</button>
      <div id="sessions"></div>
    </div>
    <section></section>
    <div class="divider"></div>
    <section></section>
  </body>
</html>
