section {
    width: 500px;
    height: 300px;
    display: block;
    float: left;
    background-color: #666666;
}
section:hover {
    background-color: #222222;
}

.divider {
    width: 50px;
    height: 300px;
    display: block;
    float: left;
    background-color: red;
}

.cursor {
    position: absolute;
    background: url("/static/assets/icons/cursor.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    height: 18px;
    margin-left: -5px;
    margin-top: 0px;
    pointer-events: none;
}